[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cureplots"]
	path = cureplots
	url = https://github.com/gbasulto/cureplots
[submodule "empichar"]
	path = empichar
	url = https://github.com/gbasulto/empichar
[submodule "fourierin"]
	path = fourierin
	url = https://github.com/gbasulto/fourierin
[submodule "glancedata"]
	path = glancedata
	url = https://github.com/gbasulto/glancedata
